@import "tailwindcss";

@layer base {
  h2 {
    font-size: 1.125rem;
    font-weight: bold;
    color: white;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
  }

  h3 {
    font-size: 1.125rem;
    color: white;
  }

  p {
    font-size: 0.875rem;
    color: rgb(186, 230, 253);
    padding: 0.5rem;
  }
}

@layer components {
  .NavBTNS {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: white;
    border-radius: 0.375rem;
    padding: 0.5rem;
  }

  .NavBTNS:hover {
    color: rgb(156, 163, 175);
  }

  .motivation {
    font-size: 0.875rem;
    color: rgb(186, 230, 253);
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
  }

  .BTNSlinks {
    font-size: 1rem;
    background-color: rgb(239, 68, 68);
    padding: 1rem;
    border-radius: 0.5rem;
    color: white;
    font-weight: 500;
  }

  .BTNSlinks:hover {
    background-color: rgb(156, 163, 175);
  }

  .SocialMedias {
    width: 1.5rem;
    height: 1.5rem;
    color: rgb(209, 213, 219);
  }

  .SocialMedias:hover {
    color: rgb(107, 114, 128);
  }
}

html {
  scroll-behavior: smooth;
}
